CLOUDINARY_URL=cloudinary://7xxxxxxxxxx67:yQxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxt1ptn
GOOGLE_API_KEY=AIxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxGFdA
# AWS Configuration
AWS_REGION=eu-xxxx-1
AWS_ACCESS_KEY_ID=AXXXXXXXXXXXXXXJ
AWS_SECRET_ACCESS_KEY=rxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxH
# Database Tables
QUESTION_TABLE=question
CONTEST_TABLE=contests
STUDENT_TABLE=student
SUBMISSION_TABLE=submissions
ADMIN_TABLE=admin
NOTIFICATION_TABLE=notification
ACHIEVEMENT_TABLE=achievement
CONTEST_REGISTRATION_TABLE=contest_registeration